<h1>Log into Viewing Party</h1>
<%= form_with url: '/login', method: :post, local: true do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit 'Log in' %>
<% end %>